.inicio {
background:#AB400E;
width: 100% !important;
color:white;
}
 .menu{ 
 	color:white;
 	list-style:none;
}
.segundo{ 
background: #D0D3D4;
color:green;
text-align:center;
width:100% !important;




